<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <div class="row" id= "mars-news">
        <div class = "col-md-12">
            <h2>Latest Mars News</h2>
            <h3 class="media-heading">{{mars_data.latest_news_title}}</h4>
            <p>{{mars_data.latest_news_paragraph}}</p>
        </div>
    </div>
    <div class="row" id= "mars-image">
      <div class = "col-md-8">
          <h2>Featured Mars Image</h2>
          <img src = "{{mars_data.mars_image}}">
      </div>
      <div class = "col-md-4">
        <h2>Mars Facts</h2>
        <p>{{mars_data.mars_facts|safe}}</p>

    </div>
  </div>
  <div class = 'row'>
    <br>
    <div class = 'col-md-12'>
        <h2>Hemispheres of Mars</h2>
        {% for i in mars_data.hemispheres %}
            <div class = 'col-lg-3'>  
                <div class = 'card' style='width: 20rem;'>
                    <div class = 'card-body'>
                        <a href = '{{ i.img_url }}'> 
                            <img class = 'card-img-top img-responsive' src = '{{ i.img_url }}' style = 'max-width: 100%;'>
                        </a>
                        <h4 class = 'card-title'> {{ i.title }}</h4>
                    </div>
                </div>
            </div>  
        {% endfor %}
    </div>
</div>
</div>
    


</html>
